* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #cbd0d5;
  background-color: #000000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #cbd0d5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left button {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #cbd0d5;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

nav .nav-left button h2 {
  font-size: 2rem;
}

nav .nav-left button:hover {
  opacity: 1;
}

nav .nav-left button:last-child {
  display: none;
}

nav .nav-left .downsize::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #cbd0d5;
  display: block;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

nav .nav-left .downsize:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

nav ul li {
  padding: 0 0.3rem;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

nav ul li ion-icon {
  margin: 0 0.3rem;
  color: #cbd0d5;
  font-size: 2rem;
}

nav ul li:hover {
  opacity: 1;
}

nav ul li::before {
  position: absolute;
  top: 6px;
  content: "";
  width: 0;
  background-color: #cbd0d5;
  height: 0.1rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

nav ul li:hover::before {
  width: 2.56rem;
}

.container {
  position: relative;
  height: 100vh;
}

.container .background,
.container .front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .background {
  background: url("./img/background.jpg");
  background-size: cover;
  position: fixed;
  min-height: 100px;
}

.container .front {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(86%, rgba(56, 50, 52, 0.25)), to(rgba(1, 0, 0, 0.25)));
  background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(56, 50, 52, 0.25) 86%, rgba(1, 0, 0, 0.25) 100%);
  background-size: cover;
}

.container .front .hi-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 19.4vh auto;
}

.container .front .hi-container .auto-typed,
.container .front .hi-container .declare {
  width: 60vw;
  text-align: center;
  margin-bottom: 10vh;
}

.container .front .hi-container .auto-typed span,
.container .front .hi-container .auto-typed span strong,
.container .front .hi-container .declare span,
.container .front .hi-container .declare span strong {
  color: #cbd0d5;
  font-size: 1.5rem;
}

.container .front .hi-container img {
  border-radius: 10px;
  margin: 0 auto;
  height: 23vh;
  width: 11vw;
}

.container .front .hi-container .declare {
  margin-top: 1vh;
  border: 1px dotted;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.container .front .hi-container button {
  position: absolute;
  display: block;
  right: 50%;
  bottom: 0.1vh;
  cursor: pointer;
  border: none;
  background: transparent;
}

.container .front .hi-container button ion-icon {
  pointer-events: none;
  font-size: 5rem;
  color: #cbd0d5;
}

.container footer {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.container footer span {
  font-size: 0.9rem;
  color: rgba(203, 208, 213, 0.7);
}

.container footer span a {
  color: #cbd0d5;
}

.project-arrow {
  position: absolute;
  bottom: 0;
  left: 47%;
}

.project-arrow button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.project-arrow button ion-icon {
  pointer-events: none;
  font-size: 5rem;
  color: #cbd0d5;
}

.frontend-projects,
.backend-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(86%, rgba(56, 50, 52, 0.25)), to(rgba(1, 0, 0, 0.25)));
  background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(56, 50, 52, 0.25) 86%, rgba(1, 0, 0, 0.25) 100%);
}

.frontend-projects img,
.backend-projects img {
  max-height: 30vh;
  width: 29vw;
  opacity: 76%;
  overflow: hidden;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  -webkit-transform: translateX(44px);
          transform: translateX(44px);
}

.frontend-projects img:hover,
.backend-projects img:hover {
  opacity: 100%;
}

.frontend-projects h1,
.backend-projects h1 {
  position: absolute;
  top: 15%;
  font-size: 3rem;
  color: #cbd0d5;
  padding-bottom: 10vh;
}

.frontend-projects h2,
.backend-projects h2 {
  text-align: center;
  font-size: 1.5rem;
}

.frontend-projects p,
.backend-projects p {
  color: #cbd0d5;
  margin: 2rem auto;
  width: 80%;
}

.frontend-projects .project-used-tech,
.backend-projects .project-used-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.frontend-projects .project-used-tech .tags,
.backend-projects .project-used-tech .tags {
  overflow: hidden;
  color: #e2d3d3;
  border: 1px #e2d3d3;
  border-style: dotted;
  border-radius: 4px;
  margin-top: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frontend-projects .project-used-tech .tags span,
.backend-projects .project-used-tech .tags span {
  font-size: 10px;
  white-space: nowrap;
  padding: 0.4rem 1rem;
  border-radius: 9px;
}

.frontend-projects .project-links,
.backend-projects .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  float: right;
  clear: both;
  width: 10%;
  margin-right: 5rem;
}

.frontend-projects .project-links a,
.backend-projects .project-links a {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.skills,
.certificates {
  padding-top: 2rem;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(86%, rgba(56, 50, 52, 0.25)), to(rgba(1, 0, 0, 0.25)));
  background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(56, 50, 52, 0.25) 86%, rgba(1, 0, 0, 0.25) 100%);
  background-size: cover;
}

.skills h1,
.certificates h1 {
  font-size: 3rem;
}

@media only screen and (min-width: 120px) and (max-width: 374px) {
  body,
  html {
    min-width: 100vw;
    font-size: 8px;
  }
  nav .nav-left {
    width: 45vw;
  }
  nav .nav-left button {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #cbd0d5;
  }
  nav .nav-left button h2 {
    font-size: 2rem;
  }
  nav .nav-left button:not(:first-child) {
    display: none;
  }
  nav .nav-left button:last-child {
    position: absolute;
    display: block;
    font-size: 3rem;
    top: 3px;
    left: 96px;
  }
  nav .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(39.5%);
            transform: translateY(39.5%);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav .dropdown button:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .dropdown button:nth-child(6) {
    position: absolute;
    top: 0;
    left: 89px;
    font-size: 3rem;
  }
  nav .dropdown .downsize {
    margin: 0.6rem 0;
    font-size: 1.1rem;
  }
  nav .dropdown .downsize::after {
    display: none;
  }
  main {
    min-width: 100%;
    overflow-y: scroll;
  }
  main .skillCards {
    display: block;
    padding-top: 10%;
  }
  main .skillCards .skill-card {
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 3rem auto;
  }
  main .skillCards h1 {
    padding: 3rem;
  }
  main .certificates-section {
    padding-top: 15%;
    display: block;
  }
  main .certificates-section .certificate-cards {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (65vw)[1];
        grid-template-columns: repeat(1, 65vw);
  }
  main .certificates-section .certificate-cards .certificate-card {
    height: 11vh;
  }
  .container .front .hi-container {
    margin-top: 15rem;
  }
  .container .front .hi-container .auto-typed,
  .container .front .hi-container .declare {
    font-size: 1.25rem;
    width: 90vw;
    margin-top: 3vh;
  }
  .container .front .hi-container img {
    height: 16vh;
    width: 27vw;
  }
  .container .front .hi-container button {
    right: 44%;
  }
  .container .background {
    background: url("./img/background.jpg") center center fixed no-repeat;
    background-size: 100vw 100vh;
  }
  .skills {
    padding-top: 0;
  }
  .frontend-projects,
  .backend-projects {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(70%, rgba(94, 95, 73, 0.4)), to(rgba(34, 24, 24, 0.271)));
    background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(94, 95, 73, 0.4) 70%, rgba(34, 24, 24, 0.271) 100%);
  }
  .frontend-projects img,
  .backend-projects img {
    margin-top: 4rem;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    max-height: 23.5vh;
    width: 100%;
    opacity: 100%;
  }
  .frontend-projects h1,
  .backend-projects h1 {
    top: 10%;
  }
  .frontend-projects .project-used-tech .tags span,
  .backend-projects .project-used-tech .tags span {
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .frontend-projects .project-links a,
  .backend-projects .project-links a {
    font-size: 0.99rem;
  }
  .project-arrow {
    right: 47%;
  }
}

@media only screen and (min-width: 374px) and (max-width: 600px) {
  body,
  html {
    min-width: 100vw;
    font-size: 10px;
  }
  nav .nav-left {
    width: 30vw;
  }
  nav .nav-left button {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #cbd0d5;
    background: transparent;
    cursor: pointer;
  }
  nav .nav-left button h2 {
    font-size: 2rem;
  }
  nav .nav-left button:not(:first-child) {
    display: none;
  }
  nav .nav-left button:last-child {
    position: absolute;
    display: block;
    font-size: 3rem;
    top: 7px;
    left: 99px;
  }
  nav .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
  }
  nav .dropdown button:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .dropdown button:nth-child(6) {
    position: absolute;
    top: 0;
    left: 89px;
    font-size: 3rem;
  }
  nav .dropdown .downsize {
    margin: 0.6rem 0;
    font-size: 1.1rem;
  }
  nav .dropdown .downsize::after {
    display: none;
  }
  main {
    min-width: 100%;
    overflow-y: scroll;
  }
  main .skillCards {
    display: block;
    padding-top: 10%;
  }
  main .skillCards .skill-card {
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 3rem auto;
  }
  main .skillCards h1 {
    padding: 3rem;
  }
  main .certificates-section {
    padding-top: 15%;
    display: block;
  }
  main .certificates-section .certificate-cards {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (55vw)[2];
        grid-template-columns: repeat(2, 55vw);
  }
  main .certificates-section .certificate-cards .certificate-card {
    height: 15vh;
  }
  .container .front .hi-container {
    margin-top: 7rem;
  }
  .container .front .hi-container .auto-typed,
  .container .front .hi-container .declare {
    font-size: 1.25rem;
    width: 90vw;
    margin-top: 3vh;
  }
  .container .front .hi-container img {
    height: 16vh;
    width: 27vw;
  }
  .container .front .hi-container button {
    right: 44%;
  }
  .container .background {
    background: url("./img/background.jpg") center center scroll no-repeat;
    background-size: 100vw 100vh;
  }
  .skills {
    padding-top: 0;
  }
  .frontend-projects,
  .backend-projects {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(70%, rgba(94, 95, 73, 0.4)), to(rgba(34, 24, 24, 0.271)));
    background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(94, 95, 73, 0.4) 70%, rgba(34, 24, 24, 0.271) 100%);
  }
  .frontend-projects img,
  .backend-projects img {
    margin-top: 4rem;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    max-height: 23.5vh;
    width: 100%;
    opacity: 100%;
  }
  .frontend-projects h1,
  .backend-projects h1 {
    top: 10%;
  }
  .frontend-projects .project-used-tech .tags span,
  .backend-projects .project-used-tech .tags span {
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .frontend-projects .project-links a,
  .backend-projects .project-links a {
    font-size: 0.99rem;
  }
  .project-arrow {
    right: 47%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 925px) {
  body,
  html {
    min-width: 100vw;
    font-size: 11px;
  }
  nav .nav-left {
    width: 80vw;
  }
  nav .nav-left .downsize {
    font-size: 1rem;
  }
  main {
    min-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  main .skillCards {
    display: block;
    padding-top: 10%;
  }
  main .skillCards .skill-card {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 3rem auto;
  }
  main .skillCards h1 {
    padding: 3rem;
  }
  main .certificates-section {
    padding-top: 15%;
    display: block;
  }
  main .certificates-section .certificate-cards {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (55vw)[2];
        grid-template-columns: repeat(2, 55vw);
  }
  main .certificates-section .certificate-cards .certificate-card {
    height: 20vh;
  }
  .container .front .hi-container {
    margin-top: 15rem;
  }
  .container .front .hi-container .auto-typed,
  .container .front .hi-container .declare {
    font-size: 1.15rem;
    width: 90vw;
    margin-top: 3vh;
  }
  .container .front .hi-container img {
    height: 25vh;
    width: 20vw;
  }
  .container .front .hi-container button {
    right: 44%;
  }
  .container .background {
    background: url("./img/background.jpg") center center fixed no-repeat;
    background-size: 100vw 100vh;
  }
  .skills {
    padding-top: 0;
  }
  .frontend-projects,
  .backend-projects {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(70%, rgba(94, 95, 73, 0.4)), to(rgba(34, 24, 24, 0.271)));
    background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(94, 95, 73, 0.4) 70%, rgba(34, 24, 24, 0.271) 100%);
  }
  .frontend-projects img,
  .backend-projects img {
    margin-top: 4rem;
    -webkit-transform: translateX(58px);
            transform: translateX(58px);
    min-height: 35vh;
    width: 80%;
    opacity: 100%;
  }
  .frontend-projects h1,
  .backend-projects h1 {
    top: 10%;
  }
  .frontend-projects .project-used-tech .tags span,
  .backend-projects .project-used-tech .tags span {
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .frontend-projects .project-links a,
  .backend-projects .project-links a {
    font-size: 0.99rem;
  }
  .project-arrow {
    right: 47%;
  }
}

@media only screen and (min-width: 925px) and (max-width: 1200px) {
  body,
  html {
    min-width: 100vw;
    font-size: 12px;
  }
  nav .nav-left {
    width: 50vw;
  }
  nav .nav-left .downsize {
    font-size: 1rem;
  }
  main {
    min-width: 100%;
    overflow-y: scroll;
  }
  main .skillCards {
    padding-top: 10%;
  }
  main .skillCards .skill-card {
    text-align: center;
    width: 60px;
    height: 60px;
    margin: 2rem;
  }
  .container .front .hi-container button {
    right: 47.5%;
  }
  .skills {
    padding-top: 0;
  }
  .frontend-projects,
  .backend-projects {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 74, 80, 0.25)), color-stop(70%, rgba(94, 95, 73, 0.4)), to(rgba(34, 24, 24, 0.271)));
    background: linear-gradient(rgba(57, 74, 80, 0.25) 0%, rgba(94, 95, 73, 0.4) 70%, rgba(34, 24, 24, 0.271) 100%);
  }
  .frontend-projects img,
  .backend-projects img {
    margin-top: 4rem;
    -webkit-transform: translateX(58px);
            transform: translateX(58px);
    min-height: 23vh;
    width: 80%;
    opacity: 100%;
  }
  .frontend-projects h1,
  .backend-projects h1 {
    top: 10%;
  }
  .frontend-projects .project-used-tech .tags span,
  .backend-projects .project-used-tech .tags span {
    font-size: 0.7rem;
    white-space: nowrap;
  }
  .frontend-projects .project-links a,
  .backend-projects .project-links a {
    font-size: 0.99rem;
  }
  .project-arrow {
    right: 47%;
  }
}
/*# sourceMappingURL=App.css.map */