//mixin
@mixin centerify {
  display: flex;
  justify-content: center;
  align-items: center;
}

//global variables
$primary: #222831;
$secondary: rgb(203, 208, 213);

//global styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $secondary;
  background-color: #000000;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: $secondary;
}

//component
nav {
  @include centerify();
  position: fixed;
  top: 0;
  z-index: 1;
  height: 5rem;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .nav-left {
    display: flex;
    width: 36vw;
    justify-content: space-between;
    align-items: center;
    button {
      h2 {
        font-size: 2rem;
      }
      font-size: 1rem;
      letter-spacing: 0.1rem;
      color: $secondary;
      opacity: 0.8;
      cursor: pointer;
      border: none;
      background: transparent;
      transition: all ease-in-out 0.25s;
      &:hover {
        opacity: 1;
      }
    }
    button:last-child {
      display: none;
    }
    .downsize::after {
      content: "";
      width: 0%;
      height: 1px;
      background-color: $secondary;
      display: block;
      transition: all ease-in-out 0.25s;
    }

    .downsize:hover::after {
      width: 100%;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    li {
      padding: 0 0.3rem;
      opacity: 0.8;
      transition: opacity 0.3s linear;
      ion-icon {
        margin: 0 0.3rem;
        color: $secondary;
        font-size: 2rem;
      }
      &:hover {
        opacity: 1;
      }
      &::before {
        position: absolute;
        top: 6px;
        content: "";
        width: 0;
        background-color: $secondary;
        height: 0.1rem;
        transition: all ease-in-out 300ms;
      }
      &:hover::before {
        width: 2.56rem;
      }
    }
  }
}

.container {
  position: relative;
  height: 100vh;

  .background,
  .front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .background {
    background: url("./img/background2.jpg") center center fixed no-repeat;
    background-size: 100vw 100vh;
    min-height: 500px;
  }

  .front {
    background: linear-gradient(
      rgba(57, 74, 80, 0.25) 0%,
      rgba(56, 50, 52, 0.25) 86%,
      rgba(1, 0, 0, 0.25) 100%
    );
    background-size: cover;

    .hi-container {
      @include centerify();
      margin: 20vh auto;

      .auto-typed,
      .declare {
        width: 40vw;
        text-align: center;

        margin-bottom: 10vh;

        span,
        span strong {
          color: $secondary;
          font-size: 1.5rem;
        }
      }
      .declare {
        margin-top: 3vh;
        border: 1px dotted;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding: 1rem;
      }
      img {
        border-radius: 10px;
        margin: 0 auto;
        height: 20vh;
        width: 10vw;
        opacity: 1;
      }

      button {
        // margin: 50vh auto;
        position: absolute;
        display: block;
        right: 50%;
        bottom: 0.1vh;
        cursor: pointer;
        border: none;
        background: transparent;

        ion-icon {
          pointer-events: none;
          font-size: 5rem;
          color: $secondary;
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    span {
      font-size: 0.9rem;
      color: rgba($color: $secondary, $alpha: 0.7);
      a {
        color: $secondary;
      }
    }
  }
}

.project-arrow {
  position: absolute;
  bottom: 0;
  left: 47%;
  button {
    cursor: pointer;
    border: none;
    background: transparent;

    ion-icon {
      pointer-events: none;
      font-size: 5rem;
      color: $secondary;
    }
  }
}

.frontend-projects,
.backend-projects {
  @include centerify();
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 116, 161, 0.25) 88%,
    rgba(0, 0, 0, 0.45) 100%
  );

  img {
    max-height: 30vh;
    width: 29vw;
    opacity: 76%;
    overflow: hidden;
    transition: opacity 0.7s ease-in-out;
    transform: translateX(44px);
    &:hover {
      opacity: 100%;
    }
  }

  h1 {
    position: absolute;
    top: 15%;
    font-size: 3rem;
    color: $secondary;
    padding-bottom: 10vh;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  p {
    color: $secondary;
    margin: 2rem auto;
    width: 80%;
  }
  .project-used-tech {
    @include centerify();
    // justify-content: flex-start;
    width: 100%;

    .tags {
      overflow: hidden;
      color: #e2d3d3;
      border: 1px #e2d3d3;
      border-style: dotted;
      border-radius: 4px;
      margin-top: 0.4rem;
      align-items: center;
      // colorScheme={"white"}
      span {
        font-size: 10px;
        white-space: nowrap;
        padding: 0.4rem 1rem;
        border-radius: 9px;
      }
    }
  }

  .project-links {
    @include centerify();

    margin-top: 1rem;
    float: right;
    clear: both;
    width: 10%;
    margin-right: 5rem;

    a {
      padding: 0.5rem 1rem;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }
}

.skills,
.certificates {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 116, 161, 0.25) 88%,
    rgba(0, 0, 0, 0.45) 100%
  );
  h1 {
    font-size: 3rem;
  }
}

/*=========================================================================================================================================
    ==========================================================================================================================================*/

@media only screen and(max-width: 900px) {
  body,
  html {
    min-width: 100vw;
    font-size: 10px;
  }
  main {
    min-width: 100%;
    overflow-y: scroll;
    .skillCards {
      display: block;
      padding-top: 10%;
      .skill-card {
        text-align: center;
        width: 40px;
        height: 40px;
        margin: 3rem auto;
      }
      h1 {
        padding: 3rem;
      }
    }

    .certificates-section {
      padding-top: 15%;
      display: block;
      .certificate-cards {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 55vw);
        .certificate-card {
          height: 15vh;
        }
      }
    }
  }

  nav {
    .nav-left {
      width: 30vw;
      button {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: $secondary;

        cursor: pointer;
        background: transparent;
        h2 {
          font-size: 2rem;
        }
      }

      button:not(:first-child) {
        display: none;
      }
      button:last-child {
        position: absolute;
        display: block;
        font-size: 3rem;
        top: 7px;
        left: 99px;
      }
    }
    .dropdown {
      display: flex;
      flex-direction: column;
      transform: translateY(39%);
      align-items: flex-start;
      background-color: rgba($color: #000000, $alpha: 0.4);
      button:not(:first-child) {
        display: flex;
      }
      button:nth-child(6) {
        position: absolute;
        top: 0;
        left: 89px;
        font-size: 3rem;
      }
      .downsize {
        margin-top: 1rem;
      }
      .downsize::after {
        
        display: none;
      }
  
    }
  }

  .container {
    .front {
      .hi-container {
        margin-top: 15rem;
        .auto-typed,
        .declare {
          font-size: 1.25rem;
          width: 90vw;
          margin-top: 3vh;
        }

        img {
          height: 16vh;
          width: 24vw;
          opacity: 0.9;
        }

        button {
          right: 44%;
        }
      }
    }
    .background {
      background: url("./img/background2.jpg") center center fixed no-repeat;
      background-size: 100vw 100vh;
    }
  }

  .frontend-projects,
  .backend-projects {
    img {
      margin-top: 4rem;
      transform: translateX(-5px);
      max-height: 60vh;
      width: 100%;
      opacity: 100%;
    }
    h1 {
      top: 10%;
      padding-bottom: 4rem;
    }
    .project-used-tech {
      .tags {
        span {
          font-size: 0.7rem;
          white-space: nowrap;
        }
      }
    }
    .project-links {
      a {
        font-size: 0.99rem;
      }
    }
  }

  .project-arrow {
    right: 47%;
  }
}
